apiVersion: apps/v1
kind: Deployment
metadata:
  name: games-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: games-api
  template:
    metadata:
      labels:
        app: games-api
    spec:
      containers:
      - name: games-api
        image: marioguilhermedev/games-api:latest
        ports:
        - containerPort: 8080

        envFrom:
        - configMapRef:
            name: games-config
        - secretRef:
            name: games-secret

        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
